---
language: python
python: "2.7"
env:
  - SITE=test1.yml
  - SITE=test2.yml
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y telnet
install:
  - pip install ansible==1.5.0
script:
  # Check the role/playbook's syntax.
  - "ansible-playbook -i tests/inventory tests/$SITE --syntax-check"

  # Run the role/playbook with ansible-playbook.
  - "ansible-playbook -i tests/inventory tests/$SITE --connection=local --sudo"

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/$SITE --connection=local --sudo
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Check if munin is responding on port 4949.
  - nc -z localhost 4949
